// vars
$darkgrey: #242424;
$grey: #aba9a7;
$brown: #663d15;

// layout
@import "../bower/normalize-css/normalize";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/adjustment";

// styles
@import "sections/header";
@import "sections/index";
@import "sections/price";
@import "sections/shop";
@import "sections/footer";
@import "sections/modal";
@import "sections/animation";