.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 960px;
	overflow: hidden;

	&:after {
		content: "";
		display: block;
		height: 193px;
		margin: -193px 0 0 0;
	}
}

.container {
	width: 940px;
	margin: 0 auto;
	@extend %clearfix;
}

.container__header {
	padding: 27px 20px;
}