.index-content {
	padding: 45px 80px;
	margin: 0 0 35px 0;
	background: #f7f4f1 url(../img/pattern/light.png) repeat;
	@extend %clearfix;

	&:last-child {
		margin: 0 0 65px;
	}
}

.index-content__left,
.index-content__right {
	float: left;
	width: 50%;
}

.index-content__right {
	padding: 0 0 0 95px;
}

.news__list {
	margin: 0 0 40px;
}

.index-content__title {
	margin: 0 0 20px 0;
	font-size: 30px;
	color: #000;
	font-weight: bold;
}

.news__item {
	margin: 0 0 25px;

	&:last-child {
		margin: 0;
	}
}

.news__item p {
	margin: 0 0 5px;
}

.news__item time {
	text-transform: none;
}

.gallery__block {
	@extend %clearfix;
}

.gallery__content {
	width: 300px;
	height: 180px;
	margin: 0 0 38px 0;
	border: 7px solid #fff;
}

.gallery__img {
	width: 100%;
	height: 100%;
}

.btns {
	background: #000;
    color: #fff;
    border: none;
    padding: 12px 50px;
    font-size: 14px;
    text-transform: uppercase;
    @include transition(.2s);

    &:hover {
		background: $brown;
    }
}

.gallery-prev {
	float: left;
}

.gallery-next {
	float: right;
}

.contacts__desc {
	margin: 0 0 40px;
}

.contacts__desc p {
	margin: 0 0 25px;
}

.feedback-form {
	@extend %clearfix;
}

.feedback-form input {
	display: block;
	width: 140px;
    padding: 10px 15px;
    border: 2px solid black;
    margin: 0 0 20px;

	&:nth-child(odd) {
		float: left;
	} 

	&:nth-child(even) {
		float: right;
	} 
}

.feedback-form button {
	width: 100%;
}

