.inner {
	padding: 45px 0;
	background: #f7f4f1 url(../img/pattern/light.png) repeat;
}

.inner__header {
	margin: 0 0 50px 0;
}

.inner__coloms {
	@extend %clearfix;
	margin: 0 0 50px 0;
}

.inner__title {
	padding: 0 0 25px 0;
	color: #000;
	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {

}

.breadcrumbs__item {
	display: inline-block;
	position: relative;
	padding: 0 40px 0 0;
}

.current a {
	color: $grey;

	&::after {
		display: none;
	}
}

.breadcrumbs__link {
	color: #000;

	&:hover {
		text-decoration: underline;
	}

	&::after {
		content: "";
		position: absolute;
	    top: 7px;
    	right: 15px;
		width: 8px;
		height: 8px;
		background: #000;
		transform: rotate(45deg);
	}
}

.content__heading {
	margin: 0 0 60px 0;
	text-align: center;
}

.content__heading h2 {
	display: inline;
	position: relative;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 100%;
		border-bottom: 2px solid #000;
		width: 160px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 100%;
		border-bottom: 2px solid #000;
		width: 160px;
	}
}

.inner__coloms-left,
.inner__coloms-right {
	float: left;
	width: 50%;
}

.content__title {
	margin: 0 0 30px 0;
}

.content__title h2 {
	font-size: 24px;
	line-height: 30px;
}

.means__item {
	position: relative;
	margin: 0 0 16px 0;
	padding: 0 0 0 20px;

	&::before {
		content: "";
		position: absolute;
		top: 7px;
		left: 0px;
		width: 8px;
		height: 8px;
		background: #000;
		transform: rotate(45deg);
	}
}

.means__item span {
	font-size: 14px;
	line-height: 24px;
}

.price__table {
	width: 100%;
}

.price__table td {
	width: 50%;
	padding: 10px 15px;
	border: 2px solid #000;

	&:last-child {
		text-align: center;
	}
}

.about {
	margin: 0 0 50px 0;
}

.about__coloms {
	@extend %clearfix;
}

.about__coloms-left,
.about__coloms-right {
	float: left;
	width: 50%;
	padding: 0 80px 0 0;
}

.about__desc p {
	font-size: 14px;
	line-height: 24px;
}
