@font-face {
    font-family: 'PT Sans Narrow';
    src: url('/fonts/ptsansnarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow Bold';
    src: url('/fonts/ptsansnarrowbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin narrow ($style: regular) {
    @if $style == regular {
        font-family: 'PT Sans Narrow';
    }

     @if $style == bold {
        font-family: 'PT Sans Narrow Bold';
    }
}