@mixin inlineblock($valign: top) {
	display: inline-block;
	vertical-align: $valign;
}

@mixin transform($rotate) {
	-webkit-transform: $rotate;
	-moz-transform: $rotate;
	-ms-transform: $rotate;
	-o-transform: $rotate;
	transform: $rotate;
}

@mixin transition($tr) {
	-webkit-transition: $tr;
	-moz-transition: $tr;
	-o-transition: $tr;
	transition: $tr;
}	

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}